.startMessage {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 16px;
    position: relative;
}
.text {
    display: block;
    text-align: center;
}
.createBtn {
    width: 100%;
}
